@import "tailwindcss";

/* @custom-variant dark (&:where(.dark, .dark *)); */

body {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	@apply bg-slate-100 dark:bg-gray-800;
	@apply text-slate-900 dark:text-slate-300;
	@apply min-w-full;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	@apply font-bold text-blue-600 hover:text-indigo-600 visited:text-purple-600 underline underline-offset-2;
}

h1 {
	@apply text-6xl font-serif;
}

button {
	@apply bg-slate-800 dark:bg-slate-600;
	@apply text-slate-300 dark:text-slate-200;
	@apply rounded-sm px-2 py-1 cursor-pointer;
	@apply hover:bg-slate-600 dark:hover:bg-slate-700;
}

code {
	@apply text-slate-800 dark:text-white;
	@apply bg-slate-300 dark:bg-slate-600;
	@apply rounded-xs px-1;
	@apply inline-block;
}

summary {
	@apply cursor-pointer;
}

ul>li>* {
	@apply min-h-8;
}

input[type="color"] {
	@apply w-24 h-8 border-0;
}

input[type="number"] {
	@apply bg-slate-300 dark:bg-slate-600;
	@apply text-slate-800 dark:text-slate-300;
	@apply rounded-md w-24 text-center pr-1;
}

label {
	@apply !mb-0;
}

/* table styles */
table {
	@apply divide-y-2 divide-gray-300 dark:divide-slate-500 text-xs;
}
table tbody {
	@apply divide-y divide-gray-300 dark:divide-slate-500;
}
table tr {
	@apply h-8 md:h-10 hover:bg-slate-200 dark:hover:bg-slate-900;
}
table td {
	@apply p-1;
}

.highlight {
	@apply rounded-lg bg-slate-200 dark:bg-slate-900 text-slate-700 dark:text-white p-8;
}